// Config
@import "./config/_variables.scss";
@import "./config/_reset.scss";

// Components
@import "./components/navigation.scss";
@import "./components/search.scss";
@import "./components/login.scss";
@import "./components/signup.scss";
@import "./components/home.scss";
@import "./components/song.scss";

// Screens
// Example: @import "./screens/search.scss";
// Defaults
a {
    color: inherit;
    text-decoration: none;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: white;
    height: 100vh;
    background: linear-gradient(to top, #8baaaa, #ae8b9c);
    // background-image: linear-gradient(to top, #df89b5 0%, #bfd9fe 100%);
    // background-image: linear-gradient(to top, #3b41c5 0%, #a981bb 49%, #ffc8a9 100%);
    overflow: hidden;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    & .container {
        margin: 0 auto;
        width: 414px;
        height: 100vh;
    }

    transition-property: opacity;
    transition-duration: 0.5s;
}

.hidden {
    display: none;
}

.disable {
    opacity: 0;
    z-index: -10;
}

.divider {
    margin: 10px 0;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: rgba(lightgray, 0.7);
}
