.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-width: 414px;

    & .nav-tabs {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto 20px;
        width: 360px;
        height: 60px;
        background-color: rgba(lightgray, 0.2);
        border-radius: 20px;

        & li {
            color: white;
            &:hover {
                color: lightgray;
            }
        }
    }
}
