.header {
    background-color: lightgray;
    height: 60px;

    & .navigation {
        display: flex;
        align-items: center;
        margin: 0 auto;
        width: 358px;

        & .search-container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            & .input-text {
                box-sizing: border-box;
                width: 80%;
                height: 40px;
            }

            & #search-btn {
                width: 40px;
                height: 40px;
            }

            & .search-list-box {
                list-style: none;
                position: absolute;
                top: 40px;
                left: 0;
                width: 100%;
                max-height: 350px;
                background-color: white;
                overflow: auto;

                &.hidden {
                    display: none;
                }

                & .search-item {
                    cursor: pointer;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 10px;
                    color: black;
                    border-bottom: 1px solid lightgray;

                    & img {
                        width: 80px;
                        height: 80px;
                    }

                    &:hover {
                        background-color: #e1dfdf;
                    }
                }
            }
        }
    }
}
