.recent-container {
    margin: 0 auto;
    padding-top: 40px;
    width: 90%;

    & > .title {
        padding: 8px 14px;
        width: fit-content;
        font-size: 30px;
    }

    & .recent-list-box {
        list-style: none;
        position: relative;
        display: flex;
        margin-top: 10px;
        background-color: inherit;
        overflow: auto;
        gap: 12px;
        min-height: 240px;

        & .empty-item {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            transform: translate(-50%, -50%);
            text-align: center;

            & div {
                font-size: 22px;
                margin-bottom: 12px;
            }

            & p {
                font-size: 16px;
                color: rgb(226, 225, 225);

                & a {
                    color: white;
                    &:hover {
                        color: rgb(226, 225, 225);
                    }
                }
            }
        }

        & .recent-list-item {
            cursor: pointer;
            width: 180px;
            height: 240px;

            & .recent-item-img {
                width: 180px;
                height: 180px;
                border-radius: 8px;
            }

            & .info {
                margin-top: 8px;
                padding: 0 10px;

                & .title {
                    font-size: 20px;
                }

                & .artist {
                    color: lightgray;
                }
            }
        }
    }
}

.trending-container {
    margin: 0 auto;
    padding-bottom: 40px;
    width: 90%;

    & > .title {
        padding: 8px 14px;
        width: fit-content;
        font-size: 30px;
    }

    & .trending-list-box {
        list-style: none;
        margin-top: 20px;
        height: 432px;
        background-color: inherit;
        overflow: auto;

        & .trending-item {
            position: relative;
            cursor: pointer;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            padding: 6px 10px;
            height: 60px;
            gap: 16px;
            color: white;

            & .rank {
                font-size: 16px;
                width: 10px;
            }

            & img {
                width: 60px;
                height: 60px;
                border-radius: 12px;
            }

            & .item-info {
                width: 55%;
                & .title {
                    font-size: 20px;
                    font-weight: bold;
                    margin-bottom: 6px;
                }

                & .artist {
                    font-size: 14px;
                    color: rgb(237, 237, 237);
                }
            }

            & .option-btn {
                position: absolute;
                cursor: pointer;
                right: 0;
                height: 100%;
                width: 60px;
                color: white;
                border: none;
                background: none;

                &:hover {
                    color: lightgray;
                }
            }

            &:hover {
                background-color: rgba(lightgray, 0.2);
                border-radius: 12px;
            }
        }
    }
}

@media screen and (min-width: $screen-pc) {
    .trending-container {
        width: 80%;

        & .trending-list-box {
            display: flex;
            flex-wrap: wrap;
            height: auto;

            & .trending-item {
                box-sizing: border-box;
                width: 50%;
                height: 80px;
            }
        }
    }
}

@media screen and (min-width: $screen-pc) {
    .recent-container {
        width: 80%;
    }
}

@media screen and (max-width: $screen-sm) {
    .recent-list-box {
        min-height: 180px !important;

        & .empty-item {
            & div {
                font-size: 20px !important;
                margin-bottom: 12px;
            }

            & p {
                font-size: 16px;
                color: rgb(226, 225, 225);

                & a {
                    color: white;
                    &:hover {
                        color: rgb(226, 225, 225);
                    }
                }
            }
        }

        & .recent-list-item {
            cursor: pointer;
            width: 120px !important;
            height: 180px !important;

            & .recent-item-img {
                width: 120px !important;
                height: 120px !important;
                border-radius: 8px;
            }

            & .info {
                padding: 0 5px !important;
                & .title {
                    font-size: 16px !important;
                }

                & .artist {
                    font-size: 14px !important;
                }
            }
        }
    }
}
