.navigation {
    position: fixed;
    display: flex;
    flex-direction: column-reverse;
    bottom: 0;
    width: 100%;
    background-color: rgba(lightgray, 0.2);
    z-index: 10;

    & .nav-tabs {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        width: 414px;
        height: 60px;

        & .logo-image {
            display: none;
        }

        & li {
            color: white;
            &:hover {
                color: lightgray;
            }
        }
    }
}

@media screen and (min-width: $screen-mobile) {
    .navigation {
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: fit-content;
        border-radius: 0 20px 0 0;

        & .nav-tabs {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0;
            width: 100px;
            height: 100%;
            gap: 50px;

            & .logo-image {
                position: absolute;
                display: block;
                top: 30px;
                height: 60px;
            }
        }

        &.search {
            border-radius: 0;
        }
    }
}
