.search-container {
    display: none;
    margin: 0 auto 100px;
    height: calc(100vh - 160px);
    width: $mobile-width;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    &.active {
        display: block;
    }

    & .input-group {
        position: relative;
        margin: 20px auto 0;
        width: 90%;

        & .input-text {
            box-sizing: border-box;
            padding: 0 60px;
            height: 50px;
            width: 100%;
            background-color: rgba(211, 211, 211, 0.2);
            border: none;
            border-radius: 12px;
            color: white;
            font-size: 16px;
            outline: none;

            &:focus {
                padding-left: 58px;
                border: 2px solid white;
            }

            &::placeholder {
                color: lightgray;
            }
        }

        & button {
            box-sizing: border-box;
            position: absolute;
            width: 50px;
            height: 50px;
            color: white;
            color: white;
            border: none;
            background: none;

            &:hover {
                color: lightgray;
            }
        }

        & .back-btn {
            top: 0;
            left: 6px;
        }

        & .search-btn {
            top: 0;
            right: 6px;
        }
    }

    & .search-list-box {
        position: relative;
        list-style: none;
        margin: 20px auto 0;
        width: 90%;
        height: calc(100vh - 300px);
        overflow: auto;

        & .empty-item {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;

            & div {
                font-size: 26px;
                margin-bottom: 12px;
            }

            & p {
                font-size: 16px;
            }
        }

        & .search-item {
            cursor: pointer;
            box-sizing: content-box;
            display: flex;
            align-items: center;
            padding: 6px 10px;
            height: 60px;
            gap: 16px;
            color: white;

            & img {
                width: 60px;
                height: 60px;
                border-radius: 12px;
            }

            &:hover {
                background-color: rgba(lightgray, 0.2);
                border-radius: 12px;
            }

            & .item-info {
                width: 55%;
                & .title {
                    font-size: 18px;
                    font-weight: bold;
                    margin-bottom: 6px;
                }

                & .artist {
                    font-size: 14px;
                    color: rgb(237, 237, 237);
                }
            }

            & .option-btn {
                position: absolute;
                cursor: pointer;
                right: 0;
                height: 60px;
                width: 60px;
                color: white;
                border: none;
                background: none;

                &:hover {
                    color: lightgray;
                }
            }
        }
    }
}

@media screen and (min-width: $screen-mobile) {
    .search-container {
        position: absolute;
        margin: 0 auto;
        height: 100%;
        width: $search-bar-width;
        left: $nav-tab-width;
        border-radius: 0 20px 0 0;
        background-color: rgba(lightgray, 0.2);

        & .search-list-box {
            width: 95%;
            height: calc(100vh - 200px);
        }
    }
}
