.player-container.active {
    position: absolute;
    position: fixed;
    bottom: 0px;
    height: 100%;
    width: 100vw;
    border-top: 1px solid rgba(gray, 0.7);

    & .top-box {
        cursor: pointer;
        position: absolute;
        width: 100vw;
        height: 40px;

        & .top-btn {
            cursor: pointer;
            position: absolute;
            top: 20px;
            margin: 0 auto;
            left: 50%;
            width: 120px;
            height: 6px;
            border: none;
            border-radius: 5px;
            background: lightgray;
            transform: translateX(-50%);
        }

        &:hover {
            & .top-btn {
                background-color: white;
            }
        }
    }

    & .background {
        position: absolute;
        height: 100vh;
        width: 100vw;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(10px);

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: inherit;
            width: inherit;
            background-color: rgba(gray, 0.7);
        }
    }

    & .player-box {
        position: relative;
        text-align: center;
        top: 50%;
        left: 50%;
        width: 350px;
        transform: translate(-50%, -50%);

        & .album-image-box {
            position: relative;
            width: 350px;
            height: 350px;
            margin: 0 auto;

            .image-wrap {
                position: absolute;
                box-sizing: border-box;
                top: 0;
                left: 0;
                width: inherit;
                height: inherit;
                border-radius: 50%;
                background: white;
                overflow: hidden;
                border: 2px solid lightgray;
                transform: rotateZ(0);

                & .album-image {
                    width: inherit;
                    height: inherit;
                    box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
                }

                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: calc(350px - 25px);
                    height: calc(350px - 25px);
                    border: 2px solid lightgray;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                }

                &::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    border: 1px solid lightgray;
                    background-color: white;
                    // filter: blur(3px);
                    transform: translate(-50%, -50%);
                }
            }

            #ytplayer {
                border-radius: 50%;
            }
        }

        .album-info {
            text-align: left;
            margin-top: 10px;
            margin: 10px auto 0;
            width: 90%;

            & .track {
                font-size: 20px;
                margin-bottom: 10px;
                color: white;
            }

            & .artist {
                font-size: 16px;
                color: lightgray;
            }
        }

        .player-controller {
            margin-top: 20px;

            & .progress {
                cursor: pointer;
                margin: 0 auto;
                height: 8px;
                width: 100%;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.307);
                overflow: hidden;
                opacity: 0.3;
            }

            & .bar {
                width: 0%;
                height: inherit;
                background-color: rgb(247, 247, 247);
            }

            & .play-bar-group {
                position: relative;
                font-size: 14px;

                & .play-bar {
                    width: 90%;
                }

                & .current-time {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                }

                & .play-time {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                }
            }

            & .volume-bar-group {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 16px auto 0;
                width: 90%;

                & .volume-bar {
                    width: 80%;
                }
            }

            & .button-group {
                display: flex;
                justify-content: space-around;
                margin-top: 20px;

                & button {
                    cursor: pointer;
                    box-sizing: content-box;
                    padding: 10px;
                    width: 50px;
                    height: 50px;
                    border: none;
                    border: none;
                    border-radius: 50%;
                    color: white;
                    background-color: inherit;

                    &:hover {
                        color: lightgray;
                    }
                }

                & .prev-btn {
                    transform: rotateY(180deg);
                }

                & .pause-btn {
                    display: none;
                }
            }
        }
    }
}

.player-container:not(.active) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    width: calc(100vw - 100px);
    background-color: rgba(rgb(175, 175, 175), 0.6);
    // transition: all 0.7s;
    z-index: 10;

    & .top-btn {
        display: none;
    }

    & .background {
        display: none;
        opacity: 0;
    }

    .player-box {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: inherit;
        width: 100%;

        & .album-image-box {
            position: relative;
            margin-right: 20px;
            width: 70px;
            height: 70px;
            z-index: 10;

            .album-image {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                width: 70px;
                height: 70px;
                border-radius: 10px;
                box-shadow: rgba(0, 0, 0, 0.16) 10px 10px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }

            #ytplayer {
                border-radius: 10px;
                height: 70px;
                width: 70px;
            }
        }

        .album-info {
            display: flex;
            flex-direction: column;
            align-items: self-start;
            justify-content: center;
            width: 20%;
            color: white;
            z-index: 10;

            & .track {
                font-size: 20px;
            }

            & .artist {
                font-size: 16px;
            }
        }

        .player-controller {
            position: absolute;
            width: 100%;
            height: inherit;

            & .progress {
                cursor: pointer;
                margin: 0 auto;
                height: 8px;
                width: 100%;
                border-radius: 4px;
                background-color: rgba(255, 255, 255, 0.307);
                overflow: hidden;
                opacity: 0.3;
            }

            & .bar {
                width: 0%;
                height: inherit;
                background-color: rgb(247, 247, 247);
            }

            & .button-group {
                position: absolute;
                display: flex;
                justify-content: space-around;
                margin-top: 20px;
                top: 14px;
                left: 20px;
                width: 200px;

                & button {
                    cursor: pointer;
                    box-sizing: content-box;
                    padding: 10px;
                    width: 40px;
                    height: 40px;
                    border: none;
                    border: none;
                    border-radius: 50%;
                    color: white;
                    background-color: inherit;

                    &:hover {
                        color: lightgray;
                    }
                }

                & .prev-btn {
                    transform: rotateY(180deg);
                }

                & .pause-btn {
                    display: none;

                    & svg {
                        width: 40px;
                        height: 40px;
                    }
                }
            }

            & .play-bar-group {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                font-size: 12px;

                & .play-bar {
                    width: 100%;
                    border-radius: 0;
                }

                & .current-time {
                    position: absolute;
                    top: 16px;
                    left: 16px;
                }

                & .play-time {
                    position: absolute;
                    top: 16px;
                    right: 16px;
                }
            }

            & .volume-bar-group {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 20px;
                top: 50%;
                width: 200px;
                transform: translateY(-50%);

                & .volume-bar {
                    width: 80%;
                }
            }
        }
    }
}

@media screen and (max-width: $screen-mobile) {
    .player-container:not(.active) {
        bottom: 60px;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);

        & .player-box {
            // justify-content: flex-end;

            & .album-info {
                width: 40% !important;
            }
        }

        & .player-controller {
            & .button-group {
                left: 20px !important;
                margin-top: 10px !important;
                width: fit-content !important;

                & .prev-btn {
                    display: none;
                }

                & .next-btn {
                    & svg {
                        width: 30px;
                    }
                }
            }

            & .play-bar-group {
                & .current-time {
                    display: none;
                }

                & .play-time {
                    display: none;
                }
            }

            & .volume-bar-group {
                // display: none !important;
                width: 150px !important;
            }
        }
    }
}

@media screen and (max-width: $screen-sm) {
    .player-container:not(.active) {
        & .player-box {
            & .album-image-box {
                margin-left: 120px;
            }
        }

        & .volume-bar-group {
            display: none !important;
        }
    }
}
