<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head.ejs")%>
    <body>
        <%-include("partials/navigation.ejs")%>
        <main class="main">
            <div class="container">
                <section class="trending-container">
                    <div class="title">trending right now</div>
                    <ul class="trending-list-box"></ul>
                </section>
            </div>
        </main>

        <script src="/static/js/main.js" type="module"></script>

        <%-include("components/song.ejs")%>
    </body>
</html>
