<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head.ejs")%>
    <body>
        <main class="main login">
            <div class="container">
                <section class="login-container">
                    <form class="login-form">
                        <a href="/">
                            <img class="logo-image" src="pink-log.png" />
                        </a>
                        <input class="input-text" name="name" type="text" placeholder="사용자 이름" />
                        <input class="input-text" name="password" type="password" placeholder="비밀번호" autocomplete="off" />
                        <div class="divider"></div>
                        <div class="btn-group">
                            <button class="login-btn" type="button" disabled>로그인</button>
                            <button class="signup-btn active" type="button" onclick="location.href='/signup'">회원가입</button>
                        </div>
                    </form>
                </section>
            </div>
        </main>

        <script src="/static/js/main.js" type="module"></script>
    </body>
</html>
