<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head.ejs")%>
    <body>
        <main class="main signup">
            <button class="back-btn" type="button" onclick="javascript:location.href='/login'">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                </svg>
            </button>

            <div class="container">
                <section class="signup-container">
                    <form class="signup-form">
                        <a href="/">
                            <img class="logo-image" src="pink-log.png" />
                        </a>
                        <input class="input-text" name="name" type="text" placeholder="사용자 이름" />
                        <input class="input-text" name="password" type="password" placeholder="비밀번호" autocomplete="off" />
                        <input class="input-text" name="nickname" type="text" placeholder="닉네임" />
                        <div class="divider"></div>
                        <div class="btn-group">
                            <button class="signup-btn" type="button" disabled>회원가입</button>
                            <button class="cancel-btn active" type="button" onclick="location.href='/login'">취소</button>
                        </div>
                    </form>
                </section>
            </div>
        </main>

        <script src="/static/js/main.js" type="module"></script>
    </body>
</html>
