<!DOCTYPE html>
<html lang="en">
    <%-include("partials/head.ejs")%>
    <body>
        <main class="main signup">
            <div class="container">
                <section class="signup-container">
                    <form class="signup-form">
                        <a href="/">
                            <img class="logo-image" src="pink-log.png" />
                        </a>
                        <input class="input-text" name="name" type="text" placeholder="사용자 이름" />
                        <input class="input-text" name="password" type="password" placeholder="비밀번호" autocomplete="off" />
                        <input class="input-text" name="nickname" type="text" placeholder="닉네임" />
                        <div class="divider"></div>
                        <div class="btn-group">
                            <button class="signup-btn" type="button" disabled>회원가입</button>
                            <button class="cancel-btn active" type="button" onclick="location.href='/login'">취소</button>
                        </div>
                    </form>
                </section>
            </div>
        </main>

        <script src="/static/js/main.js" type="module"></script>
    </body>
</html>
