<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" type="image/png" sizes="192x192" href="favicon-96x96.png" />

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>Bbung Music</title>

    <script>
        let isLogin = "<%= loggedIn %>";
        let sessionUser = `<%= JSON.stringify(loggedInUser) %>`;
        sessionUser = sessionUser.replaceAll("&#34;", '"');
        sessionUser = JSON.parse(sessionUser);
    </script>
</head>
