<header class="header">
    <nav class="navigation">
        <div class="search-container">
            <input class="input-text" type="text" name="track" />
            <button id="search-btn" type="submit">검색</button>

            <ul class="search-list-box hidden"></ul>
        </div>
    </nav>
</header>
