<dialog id="play-list-modal">
    <div class="modal-container">
        <h1 class="title">재생목록</h1>
        <ul class="list-box"></ul>
        <button class="cancel-btn" type="button">취소</button>
    </div>
</dialog>
